<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Main Menu</title>
</head>

<body>

  <ul id="navigation">
    <li>
      <h3>Corporativo POS Server</h3>
    </li>
    <li><a href="inventory.html"><button>Inventory Management</button></a></li>
    <li><a href="users.html"><button>User Management</button></a></li>
    <li><a href="store.html"><button>Retail Store Information</button></a></li>
    <li><a href="cashier.html"><button>Cashier Management</button></a></li>
  </ul>

  <div id="welcome-greet">
    <h2>Welcome to Corporativo POS Server</h2>
    <h4>by</h4>
    <h4>Robert J. Alvarez</h4>
    <h5>robertjao@outlook.com</h5>
    <br>
    <h4>Please select any option in navigation bar.</h4>
  </div>

  <script src="script/main.js"></script>
</body>

</html>